html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  background-color: #F6F6F6;
  height: 2966px;
}

.header-bar {
  position: absolute;
  width: 4256px;
  height: 226px;
  left: calc(50% - 4256px / 2 - 0.5px);
  top: -91px;
}

.header-rectangle {
  position: absolute;
  width: 110%;
  height: 88px;
  right: 0;
  top: -15px;
  background: #00DC00;
}

.footer-rectangle {
  position: absolute;
  width: 110%;
  height: 95px;
  right: 0;
  top: 2870px;
  background: #00DC00;
}

.foot {
  position: absolute;
  left: calc(50% - 1964px/2 + 221px);
  top: 2851px;
}

.logo {
  position: absolute;
  width: 95px;
  height: 95px;
  left: 116px;
  top: 4px;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  width: 384px;
  height: 30px;
  left: 281px;
  top: 22px;
}

@font-face {
  font-family: Dimbo;
  src: url(../css/Dimbo.ttf);
}

.nav-item {
  position: static;
  height: 30px;
  top: 0;

  font-family: Dimbo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  text-decoration: none;

  color: #FFFFFF;

  flex: none;

  align-self: center;
}

.nav-1 {
  width: 149px;
  left: 0px;
  order: 0;
  margin-right: 60px;
}

.nav-2 {
  width: 70px;
  left: 209px;
  order: 1;
  margin-right: 60px;
}

.nav-3 {
  width: 45px;
  left: 339px;
  order: 2;
}

.language-box-russian {
  position: absolute;
  width: 74px;
  height: 36px;
  right: 359px;
  top: 19px;
}

.login-user {
  position: absolute;
  width: 95px;
  height: 35px;
  right: 206px;
  top: 20px;
}

.bus-photo {
  position: absolute;
  width: 1037px;
  height: 422px;
  left: calc(50% - 1037px / 2 - 4px);
  top: 155px;

  background: url(../img/Bus.png);
}

.slogans {
  position: absolute;
  width: 1065px;
  height: 509px;
  left: calc(50% - 1065px / 2 + 1px);
  top: 129px;
}

.search-bar {
  position: absolute;
  /*width: 927px;
  /*height: 74px;*/
  left: calc(50% - 927px / 2 - 24px);
  top: 351px;
}

.search-button {
  position: absolute;
  width: 190px;
  height: 54px;
  left: calc(50% - 189.5px / 2 + 354px);
  top: 357.26px;
}

.ell-1 {
  position: absolute;
  width: 100%;
  height: 298px;
  /*left: calc(50% - 1935px/2 + 1px);*/
  top: 412px;
}

.ell-2{
  position: absolute;
  width: 100%;
  height: 242px;
  /*left: calc(50% - 1831px/2 + 1827px);*/
  top: 2213px;
}

.back-1 {
  position: absolute;
  width: 110%;
  height: 658px;
  right: 0;
  top: 468px;
  background: #E8E8E8;
}

.back-2 {
  position: absolute;
  width: 110%;
  height: 996px;
  right: 0;
  top: 1406px;
  background: #E8E8E8;
}

.city {
  position: absolute;
  top: 371px;
  height: 24px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;

  border: 0;
  background-color: transparent;
  outline: none;
}

.city-1 {
  width: 125px;
  left: calc(50% - 125px / 2 - 395px);
}

.city-2 {
  width: 142px;
  left: calc(50% - 82px / 2 - 233px);
}

.calendar {
  position: absolute;
  width: 150px;
  height: 20px;
  left: calc(50% - 115px / 2 - 33px);
  top: 377px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  border: 0;
  background-color: transparent;
  outline: none;
  color: #000000;
}

.people{
  position: absolute;
  width: 10px;
  height: 20px;
  left: calc(50% - 115px / 2 + 153px);
  top: 375px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  border: 0;
  background-color: transparent;
  outline: none;
  color: #000000;

  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.chel{
  position: absolute;
  width: 50px;
  height: 20px;
  left: calc(50% - 115px / 2 + 175px);
  top: 358px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;

  border: 0;
  background-color: transparent;
  outline: none;
  color: #000000;
}

.rectangles {
  display: flex;
  flex-direction: row;
  padding: 0px;

  position: absolute;
  width: 1011px;
  height: 293px;
  left: calc(50% - 1011px / 2);
  top: 678px;
}

.rect {
  position: static;
  width: 225px;
  height: 286px;
  top: 3.5px;

  background: #F7F7F7;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  flex: none;

  align-self: center;
  margin-right: 37px;
}

.rect-1 {
  position: absolute;
  left: 5.84%;
  right: 85.26%;
  top: 15.12%;
  bottom: 55.39%;
}

.rect-2 {
  position: absolute;
  left: 32.54%;
  right: 58.56%;
  top: 14.51%;
  bottom: 55.8%;
}

.rect-3 {
  position: absolute;
  width: 90px;
  height: 60px;
  left: 590px;
  top: 58.5px;
}

.rect-4 {
  position: absolute;
  width: 90px;
  height: 79.5px;
  left: 853px;
  top: 43.75px;
}

.head {
  position: relative;
  /*width: 196px;
  height: 23px;
  left: 14px;*/
  text-align: center;
  top: 145px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #343434;
}

.text{
  position: absolute;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  text-align: center;

  color: #5B5B5B;
}
.text1 {
  width: 187px;
  height: 45px;
  left: 19px;
  top: 198.5px;
}

.text2 {
  width: 179px;
  height: 80px;
  left: 285px;
  top: 188.5px;
}

.text3 {
  width: 182px;
  height: 80px;
  left: 546px;
  top: 180.5px;
}

.text4 {
  width: 160px;
  height: 80px;
  left: 818px;
  top: 182.5px;
}

.europe{
  position: absolute;
  width: 303px;
  height: 371px;
  left: calc(50% - 303px/2 - 313px);
  top: 1077px;
}

.europe-header{
  position: absolute;
  /*width: 500px;*/
  height: 36px;
  left: calc(50% - 460px/2 + 95.5px);
  top: 1150px;

  font-family: Dimbo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #282828;
}

.eu-p{
  position: absolute;
  width: 456px;
  height: 162px;
  left: calc(50% - 456px/2 + 96.5px);
  top: 1200px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  /* or 127% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #3E3E3E;
}

.routes{
  position: absolute;
  width: 786px;
  height: 452.19px;
  left: calc(50% - 786px/2 + 18.5px);
  top: 1522px;
}

.rou-h{
  position: absolute;
  /*width: 424px;*/
  height: 36px;
  left: calc(50% - 424px/2);

  font-family: Dimbo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;

  color: #282828;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
  ::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
}

.paris {
  position: absolute;
  width: 248.07px;
  height: 366.19px;
  left: calc(50% - 248.07px/2 - 250.47px);
  top: 1629px;
  border-radius: 10px;
}

.copen {
  position: absolute;
  width: 248.07px;
  height: 172.65px;
  left: calc(50% - 248.07px/2 + 18.5px);
  top: 1629px;
  border-radius: 10px;
}

.lviv {
  position: absolute;
  width: 248.07px;
  height: 172.65px;
  left: calc(50% - 248.07px/2 + 287.47px);
  top: 1629px;
  border-radius: 10px;
}

.barca {
  position: absolute;
  width: 248.07px;
  height: 172.65px;
  left: calc(50% - 248.07px/2 + 18.5px);
  top: 1822.55px;

  border-radius: 10px;
}

.brus {
  position: absolute;
  width: 248.07px;
  height: 172.65px;
  left: calc(50% - 248.07px/2 + 287.47px);
  top: 1822.55px;

  border-radius: 10px;
}

.green-button {
  position: absolute;
  width: 183px;
  height: 45px;

  background: rgba(0, 220, 0, 0.9);
  border-radius: 23px;
  font-family: Dimbo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;

  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  outline: none;
  border: solid 0;
  color: #FFFFFF;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.par {
  left: calc(50% - 183.45px/2 - 250.77px);
  top: 1790px;
}

.cop {
  left: calc(50% - 183.45px/2 + 18.23px);
  top: 1693px;
}

.lvi {
  left: calc(50% - 183.45px/2 + 287.23px);
  top: 1693px;
}

.bar {
  left: calc(50% - 183.45px/2 + 18.23px);
  top: 1886px;
}

.bru {
  left: calc(50% - 183.45px/2 + 287.23px);
  top: 1886px;
}

.brus:hover ~ .bru, .bru:hover,
.paris:hover ~ .par, .par:hover,
.lviv:hover ~ .lvi, .lvi:hover,
.copen:hover ~ .cop, .cop:hover,
.barca:hover ~ .bar, .bar:hover
{
  transition: 0.2s;
  transform: scale(1.05);
  background: rgba(0, 220, 0, 1);
}

.sub {
  position: absolute;
  width: 610px;
  height: 388px;
  left: calc(50% - 610px/2 - 16.5px);
  top: 2115px;

  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}

.email {
  position: absolute;
  width: 323px;
  height: 48px;
  left: calc(50% - 323px/2 - 17px);
  top: 2362px;
  background: #EEEEEE;
  border-radius: 7px;
  border: solid 0;
  outline: none;

  font-family: Dimbo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #343434;

  padding-left: 20px;
  padding-right: 20px;
}

.email::placeholder {
  color: #9E9E9E;
}

.sub-but {
  left: calc(50% - 189px/2 - 17px);
  top: 2429px;
  width: 189px;
  height: 52px;
  border-radius: 26px;
}

.sub-but:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.footer-h {
  position: absolute;
  top: 2594px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;

  color: #000000;
}

.list {
  margin-top: 7px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 33px;

  color: #343434;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: unset;
}
