/*

1215 +++

834  -  1214

0  -  833

 */

@media screen and (min-width: 1214px) {

  .brus:hover ~ .bru, .bru:hover,
  .paris:hover ~ .par, .par:hover,
  .lviv:hover ~ .lvi, .lvi:hover,
  .copen:hover ~ .cop, .cop:hover,
  .barca:hover ~ .bar, .bar:hover {
    transition: 0.2s;
    transform: scale(1.05);
    background: rgba(0, 220, 0, 1);
  }

  .sub-but:hover {
    transition: 0.1s;
    transform: scale(1.03);
  }

  img, .green-button {
    cursor: default;
  }

  .sub-but, .search-button {
    cursor: pointer;
  }

}


@media screen and (min-width: 834px) and (max-width: 1214px) {

  body {
    height: 3027px;
  }

  .back-1 {
    top: 388.89px;
    height: 893.11px;
  }

  .back-2 {
    top: 1568px;
    height: 931px;
  }

  .ell-1, .ell-2 {
    display: none;
  }

  .ell-3-tab {
    display: unset;
    position: absolute;
    width: 100%;
    height: 142px;
    top: 2403px;
  }

  .logo {
    left: 19px;
  }

  .navigation {
    width: 416px;
    height: 31px;
    left: 152px;
  }

  .login-user {
    right: 33px;
  }

  .bus-photo {
    width: 834px;
    height: 339px;
    left: calc(50% - 834px / 2 + 4px);
    top: 175px;
    background-size: contain;
  }

  .slogans2 {
    position: absolute;
    width: 670px;
    height: 450px;
    left: calc(50% - 670px / 2 + 9px);
    top: 131px;
  }

  .search-bar2 {
    position: absolute;
    left: calc(50% - 703px / 2 - 20.5px);
    top: 262px;
  }

  .down {
    top: 267px;
  }

  .search-button2 {
    position: absolute;
    width: 232px;
    height: 72px;
    left: calc(50% - 232px / 2 + 225px);
    top: 339px;
  }

  .city {
    font-size: 24px;
    line-height: 28px;
    height: 28px;
    top: 291px;
  }

  .city-1 {
    width: 256px;
    left: calc(50% - 83px / 2 - 294px);
  }

  .city-2 {
    width: 278px;
    left: calc(50% - 99px / 2 + 77px);
  }

  .calendar {
    width: 190px;
    height: 20px;
    left: calc(50% - 83px / 2 - 294px);
    top: 367px;

    font-size: 22px;
    line-height: 23px;
  }

  .people {
    width: 12px;
    height: 20px;
    left: calc(50% - 83px / 2 - 62px);
    top: 367px;

    font-size: 22px;
    line-height: 23px;
  }

  .chel {
    height: 20px;
    left: calc(50% - 83px / 2 - 38px);
    top: 345px;

    font-size: 22px;
    line-height: 23px;
  }

  .rectangles {
    display: flex;
    flex-direction: column;

    width: 752px;
    height: 541px;
    left: calc(50% - 752px / 2 + 4px);
    top: 631px;
  }

  .rect {
    width: 530px;
    height: 124px;
    margin-bottom: 15px;
    top: 0;
  }

  .rect-1 {
    position: absolute;
    width: 72.92px;
    height: 70px;
    left: 136px;
    top: 23px;
  }

  .rect-2 {
    position: absolute;
    width: 72.41px;
    height: 70px;
    left: 139px;
    top: 166px;
  }

  .rect-3 {
    position: absolute;
    width: 67.5px;
    height: 45px;
    left: 143px;
    top: 317px;
  }

  .rect-4 {
    position: absolute;
    width: 67.92px;
    height: 60px;
    left: 142px;
    top: 449px;
  }

  .head {
    top: 24px;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    left: 171px;
    text-align: unset;
  }

  .text {
    font-size: 19px;
    line-height: 22px;
    left: 264px;
    text-align: unset;
    width: 300px;
    height: 45px;
  }

  .text1 {
    top: 60px;
  }

  .text2 {
    top: 200px;
  }

  .text3 {
    top: 337px;
  }

  .text4 {
    top: 476px;
  }

  .europe {
    left: calc(50% - 303px / 2 - 238.5px);
    top: 1235px;
  }

  .europe-header {
    width: 460px;
    height: 36px;
    left: calc(50% - 460px / 2 + 137px);
    top: 1311px;
  }

  .eu-p {
    left: calc(50% - 456px / 2 + 139px);
    top: 1357px;
  }

  .routes {
    top: 1650px;
  }

  .paris {
    width: 222.73px;
    height: 328.79px;
    left: calc(50% - 222.73px / 2 - 241.64px);
    top: 1777.21px;
  }

  .quadro {
    width: 222.73px;
    height: 155.01px;
  }

  .copen {
    left: calc(50% - 222.73px / 2 - 0.15px);
    top: 1777.21px;
  }

  .lviv {
    width: 222.73px;
    height: 155.01px;
    left: calc(50% - 222.73px / 2 + 241.34px);
    top: 1777.21px;
  }

  .barca {
    width: 222.73px;
    height: 155.01px;
    left: calc(50% - 222.73px / 2 - 0.15px);
    top: 1950.99px;
  }

  .brus {
    width: 222.73px;
    height: 155.01px;
    left: calc(50% - 222.73px / 2 + 241.34px);
    top: 1950.99px;
  }

  .green-button {
    width: 164.71px;
    height: 40.4px;
    cursor: pointer;
  }

  .par {
    left: calc(50% - 164.71px / 2 - 241.91px);
    top: 1921.77px;
  }

  .cop {
    left: calc(50% - 164.31px / 2 - 0.6px);
    top: 1834.68px;
  }

  .lvi {
    left: calc(50% - 164.31px / 2 + 240.92px);
    top: 1834.68px;
  }

  .bar {
    left: calc(50% - 164.31px / 2 - 0.6px);
    top: 2007.96px;
  }

  .bru {
    left: calc(50% - 164.31px / 2 + 240.92px);
    top: 2007.06px;
  }

  .sub {
    left: calc(50% - 610px / 2);
    top: 2229px;
  }

  .email {
    top: 2476px;
    left: calc(50% - 323px / 2 - 7.5px);
  }

  .sub-but {
    top: 2543px;
    width: 189px;
    height: 52px;
    left: calc(50% - 201.77px / 2 - 0.12px);
  }

  .footer-rectangle {
    height: 100px;
    top: 2927px;
  }

  .footer-caption {
    left: 50px;
    top: 2963px;
    width: 713px;
  }

  .footer-h {
    top: 2682px;
  }

  .list1 {
    left: calc(50% - 250px / 2 - 240px);
  }

  .list2 {
    left: calc(50% - 209px / 2 - 25.5px);
  }

  .payments {
    width: 232px;
    height: 60px;
    left: calc(50% - 232px / 2 + 200.5px);
    top: 2682px;
  }

  .social {
    width: 320px;
    height: 50px;
    left: calc(50% - 320px / 2 + 247.5px);
    top: 2785px;
  }

  .payments > a {
    margin-right: 18px;
  }

  .social > a {
    margin-right: 25px;
  }
}
